In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("jobListing.csv")
df.head()

,JobTitles,JobSubTitles,JobLocation,JobDate
0,Senior Python Developer,"Payne, Roberts and Davis","\n Stewartbury, AA\n",\n2021-04-08\n
1,Energy engineer,Vasquez-Davidson,"\n Christopherville, AA\n",\n2021-04-08\n
2,Legal executive,"Jackson, Chambers and Levy","\n Port Ericaburgh, AA\n",\n2021-04-08\n
3,Fitness centre manager,Savage-Bradley,"\n East Seanview, AP\n",\n2021-04-08\n
4,Product manager,Ramirez Inc,"\n North Jamieview, AP\n",\n2021-04-08\n